# base
wheel
aiohttp==3.7.4
ujson==4.0.2

# discord
discord.py[voice]~=1.6.0
discord.py-stubs~=1.6.0.2
ffmpeg==1.4
PyNaCl==1.4.0

# database
peewee==3.14.1

# korean support
tossi==0.3.1

# math
numpy==1.20.1
gmpy2==2.0.8

# scheduling
APScheduler==3.7.0

# images
pycairo==1.20.0
gobject==0.1.0
PyGObject==3.38.0
