# Do not wrap values in quotation marks,
# as Docker does not perceive the environmental variables in quotation marks properly

DISCORD_BOT_TOKEN="""DISCORD BOT TOKEN"""
DATABASE_PATH="""PATH TO SQLITE DB FILE"""
GUILD_ID_LIST="""LIST OF IDS OF PERMITTED GUILDS"""

BORI_PATH="""PATH TO DIRECTORY CONTAINING BORI IMAGES AND VIDEOS"""
CACHE_PATH="""PATH TO DIRECTORY CONTAINING CACHES"""

JSON_BLOB_TOKEN="""JSON BLOB TOKEN FOR COMMUNICATING WITH OUTSIDE WORLD"""
SALTLUX_KEY="""SALTLUX API KEY"""
KAKAO_API_KEY="""KAKAO API KEY"""

GOOGLE_SEARCH_KEY="""GOOGLE SEARCH API KEY"""
